<header class="header shadow">
  <a href='http://localhost:8080/' class='home'>
    <div id="logo" >
      <img id="steam" src='game.png'>
      <div id="title">Wishlister</div>
    </div>
  </a>


  {{#if loggedIn}}
    {{> loggedin_message}}
  {{else}}
  	{{#if creatingUser}}
  	{{else}}
  		{{#if noLogIn}}
  		{{else}}
    	{{> login_form}}
  		{{/if}}
    {{/if}}
  {{/if}}
</header>
