<div id="loginForm">
    <div class="form-group">

      <form action="/loginAuth" method="post">
          <input id="enter-pass" class="btn btn-primary" type="submit" value="LOGIN">
      </form>
    </div>
    {{#if emptyField}}
      <label id="failedText">Enter both username and password</label>
    {{else}}
      {{#if failedAuth}}
        <label id="failedText">Invalid username or password</label>
      {{/if}}
    {{/if}}
    <a id="create" href="/accCreate">Create new account</a>
</div>
