<div id='logWindow'>
  <div id='msgBox'>
  <label for="username">Username: </label>
</br>
  <input id="username" class="form-control" type="text" name="username" >
</br>
  <label for="password">Password: </label>
</br>
  <input id="password" class="form-control" type="password" name="password">
  </div>
</div>
