<div id="loginForm">
    <div class="form-group">

      <!--<form action="/loginAuth" method="post">-->
          <input id="login-header" class="btn btn-outline-secondary" type="submit" value="Login">
      <!--</form>-->
    </div>
    {{#if emptyField}}
      <label id="failedText">Enter both username and password</label>
    {{else}}
    {{#if responseCode}}
        <label id="failedText">Failed captcha verification</label>
    {{else}}
      {{#if failedAuth}}
        <label id="failedText">Invalid username or password</label>
        {{/if}}
      {{/if}}
    {{/if}}


    <a id="create" href="/RecoverPassword">  Recover Password via Email </a>
    <a>              </a>

    <a id="create" href="/accCreate">Create new account</a>
</div>
<script src="client.js"></script>
