<div id="search" class="search">
  <h1 id='searchType'>{{details}}</h1>
  <div class="form-group">
  <form action="/" method="post">
    <input class="form-control" id="search-box" type="text" name="game">
    <input id="search-btn" class="btn btn-outline-secondary" type="submit" value="Search Game">
  </form>
  </div>
</div>
