<div class="wishlist">
  <h1>Your Wishlist</h1><br>
  {{#if loggedIn}}
    <h2>Sory by:</h2><br>
    <form action="/" method="post">
    <select name="sort_value" id="sort_value">
      <option value="name">Name</option>
      <option value="price">Price</option>
      <option value="sale">Sale</option>
    <input id="sort-btn" class="btn btn-outline-secondary" type="submit" value="Sort">
    </form>
  {{/if}}
  <div id="err">{{empty}}</div>
  {{#apps this}}
    {{gamelist}}
  {{/apps}}
    <script>
        function deleteMessage(api) {
            var yesNo = document.createElement("div"),
                text = document.createElement("p"),
                a1 = document.createElement("a"),
                div1 = document.createElement("div"),
                yes = document.createElement("button"),
                a2 = document.createElement("a"),
                div2 = document.createElement("div"),
                no = document.createElement("button");

            document.getElementById(api).appendChild(yesNo);
            yesNo.appendChild(text);
            yesNo.appendChild(div1);
            div1.appendChild(a1);
            a1.appendChild(yes);
            yesNo.appendChild(div2);
            div2.appendChild(a2);
            a2.appendChild(no);

            yesNo.className = "overWish shadow";

            text.innerHTML = "Are you sure you want to remove this game from your wishlist?";
            text.className = "textSMS";

            div1.id = "leftHanger";
            yes.className = "btn";
            a1.href="/removeFromWishlist?a="+api;
            a1.id = "yes"
            yes.innerHTML = "Yes";
            yes.id = "yes-btn"

            div2.id = "rightHanger";
            no.className = "btn btn-outline-secondary";
            a2.href="/";
            a2.id = "no"
            no.innerHTML = "No";
        }
    </script>
</div>
