<!DOCTYPE html>
<html>
	<head>
		<title>Account Created</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body>
		{{> header}}
			<div class="wrapper">
			<form action="/" method="get">
					<div id='accCreatedMsg'> Account Successfully Created </div>
  			</form>
			</div>
			<br>
		<script>

		setTimeout(()=>{
			location.href = "/";
		}, 2000);
		</script>
	</body>
</html>
