<!DOCTYPE html>
<html>
	<head>
		<title>Recover Email</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	{{> login}}
  {{> header}}
	<body>

		<div class="wrapper">
	    <div id='accFormContainer'>

	      <form action="/passwordRecovery" method="post">

					<div class='formRow'>
						<div class='formRowLeft'>
							<label class='formLabel' for="rec_email">Enter your email:</label>
						</div>
						<div class='formRowRight'>

							{{#if invalidEmailError}}
	              <div class="formMessage">Email is not valid. Please re-enter email.</div>
								{{else}}
								{{#if emailNotFound}}
										<div class='formMessage'>Email is not found in database. Please register.</div>
										{{else}}
	            {{/if}}
							{{/if}}

						<input class='formTextInput' type="text" name="rec_email">
					</div>
              </div>


					<div class='formRow'>
						<input class='formSubmit' id='blank' type="submit" value="Recover Password">
					</div>

        </form>
				</div>
      </div>
	</body>
  {{> footer}}
</html>
