<!DOCTYPE html>
<html>
	<head>
		<title>Recover Email</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	{{> login}}
  {{> header}}
	<body>

		<div class="wrapper">
	    <div id='accFormContainer'>

	      <form id='pwrecov' action="/passwordRecoveryChange" method="post">

					<div class='formRow'>

					 <div class='formRowLeft'>
						 <label class='formLabel' for="rec_pass">Enter new password:</label>
					 </div>

					 <div class='formRowRight'>
						 {{#if mismatch}}
							 <div class="formMessage">Passwords do not match</div>
						 {{else}}
							 {{#if spacePass}}
								 <div class="formMessage">Password contains spaces</div>
							 {{else}}
								 {{#if weakPass}}
									 <div class="formMessage">Password shorter than 8 characters</div>
								 {{/if}}
							 {{/if}}
						 {{/if}}

						 {{#if tokenInvalid}}
						 <div class="formMessage">Password reset token does not exist or is expired. Please request password change again. </div>
						{{/if}}

						 <input class='formTextInput' type="password" name="rec_pass">
					 </div>
				 </div>

				 <div class='formRow'>
					 <div class='formRowLeft'>
						 <label class='formLabel' for="rpt_pass">Confirm new password:</label>
					 </div>
					 <input class='formTextInput' type="password" name="rpt_pass">
				 </div>



				 <div class='formRow'>
					 <input class='formSubmit' id='SubmitButton' type="submit" value="Create Account">
				 </div>

			 </form>

		 </div>
	 </div>

			<script>
			// console.log(document.location.href.includes('?id='));
			// console.log(document.location.href.includes('?token='));
			// console.log(document.location.href.includes('?id='));

			if ((document.location.href.includes('?id=')) && (document.location.href.includes('?token=')))
			{
				// console.log('if statement works');
				var parsed = resetPasswordUrl();
				document.getElementById('pwrecov').action = '/passwordRecoveryChange?id='+parsed[0]+'?token='+parsed[1];
			}
			else {
				document.getElementById('pwrecov').action = '/passwordRecoveryChange?id=1?token=1';
			}

			function resetPasswordUrl() {
					var parsed = document.location.href.split('?id=')[1].split('?token=');

					return parsed

			}

		</script>
	</body>
  {{> footer}}
</html>
