/* ---------------------------------- Body ---------------------------------- */

body {
	font-family: 'Lato', sans-serif;
	background-color:rgb(250,250,250);
}

a {
	color:black;
	font-size:1.4em;
	font-style:normal;
	padding:2px;
}

p, label {
	color:black;
	font-size:1.2em;
}

h1 {
	font-size:2.8em;
	font-weight: bold;
}

h2 {
	font-size:2.5em;
}

.shadow {
	/* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
	border:1px solid rgba(0,0,0,0.04);
}

/* --------------------------------- Header --------------------------------- */
header {
	position:relative;
	width:100%;
	height:70px;
	background-color:rgb(240,240,240);
	z-index:6;
}

#logo {
	position:relative;
	display:inline-block;
	height:100%;
	z-index:10;
}

#logo:hover{
	cursor:pointer;
}

#steam {
	width:60px;
	margin-left:25px;
	padding-top:5px;
	margin-bottom:5px;
	position: relative;
	top: -15px;
}

.home{
	position: relative;
	top: -5px;
}

#title {
	position:relative;
	display:inline-block;
	font-size:2.7em;
	font-weight:bold;
	z-index:2;
	padding:5px;
}

#loginForm {
	position:absolute;
	display:inline-block;
	text-align:right;
	padding:5px;
	width:74%;
	height:100%;
	z-index:12;
	right:0px;
}

#username {
	position:relative;
	width:90%;
	display:inline-block;
}

#password {
	position:relative;
	width:90%;
	display:inline-block;
}

#create {
	position:relative;
	margin-right:3px;
	bottom:11px;
}

#enter-pass {
	position:relative;
	display:inline-block;
	width:90%;
	margin-top:15px;
}

#login-header {
	position:relative;
	display:inline-block;
	width:178px;
}

#welcomeMessage{
	display:inline-block;
	text-align: right;
	font-size:1.2em;
	margin-top:22px;
}

#welcome{
	position:absolute;
	text-align:right;
	right:0px;
	width:300px;
}

#lgout {
	position:relative;
	display:inline-block;
	margin-right:10px;
}

#failedText {
	position:relative;
	margin-right:3px;
	bottom:11px;
	color: red;
}

#logout-btn {
	display:inline-block;
	margin-left:10px;
	margin-bottom:3px;
}

.header {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
}

/* Medium screens */
@media all and (max-width: 1029px) {
  .header {

  }
}

#logWindow{
	background-color: #000000a9;
	width:100vw;
	height: 100vh;
	position: fixed;
	display: none;
	top: 0px;
	z-index: 10;
}

#msgBox{
	position: absolute;
	width: 300px;
	height: 200px;
	background-color: white;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 5px;
	text-align: center;
	padding: 10px
}

/* --------------------------------- Account Creation------------------------ */
.formMessage {
	color: red
}

/* --------------------------------- Search --------------------------------- */
#search {
	padding:15px;
	/* background-color:rgb(255,255,255); */
}

#search-btn {
	margin-top:-4px;
	margin-left:10px;
	width:25%;
}

#search-box {
	width:70%;
	display:inline-block;
}

/* --------------------------------- Details -------------------------------- */
#details {
	padding:15px;
	/* background-color:rgb(255,255,255); */
}

#gameThumb	{
	width:100%;
	max-height:250px;
	height:100%;
	/* box-shadow: 2px 2px 6px #555; */
	/* border: 1px solid black; */
	left:0px;
	right:0px;
	margin:auto;
	position:relative;
	display:block;
}
#err {
	color:red;
	font-size: 1.5em;
	font-style:bold;
	padding:2px;
}

/* --------------------------------- Wishlist ------------------------------- */
.game {
	position:relative;
	width:100%;
	height:112px;
	/* padding:10px; */
	background-color:rgb(255,255,255);
	margin:10px;
}

.game_sale {
	position:relative;
	width:100%;
	height:112px;
	/* padding:10px; */
	background-color:rgb(172, 247, 153);
	margin:10px;
}

.wishThumb{
	margin-right:10px;
	position:relative;
	width:auto;
	height:100%;
	float: left;
}

.wishThumbOld{
	top:30px;
	left:175px;
	margin:5px;
	position:absolute;
	width:auto;
	height:70px;
	border: 1px solid black;

}

.deleteButton{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
    text-align: center;
    width: 20px;
    height: 20px;
    /* font-family: Arial, Verdana, sans-serif; */
    color: lightgray;
}
.deleteButton:hover{
    color: red;
    cursor: pointer;
}

/* ---------------------------------- Grid ---------------------------------- */
.wrapper {
	position:absolute;
	width:100%;
	height:90%;
	margin-top:10px;
	padding:20px;
	background-color:rgb(250,250,250);
	display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(176px, auto);
}

.search {
	grid-column: 1 / 3;
	grid-row: 1;
}

.details {
	margin-top:120px;
	grid-column: 1 / 3;
	grid-row: 1 / 4;
}

.wishlist {
	grid-column: 3 / 5;
	grid-row: 1 / 5;
	padding:15px;
}

/* --------------------------------- Footer --------------------------------- */
footer {
	position:absolute;
	text-align:center;
	left:0px;
	right:0px;
	bottom:20px;
	margin:auto;
	z-index:5;
}
